@model ManageShop.Models.ContentModel
    @{
        Layout = "~/Views/Shared/_PopupInnerLayout.cshtml";
    }


    <CKEditor:CKEditorControl ID="CKEditor1" BasePath="/ckeditor/" runat="server"></CKEditor:CKEditorControl>




    <script src="~/ckeditor/ckeditor.js"></script>
    <div id="Onfilter" class="row filter-status">
        <form id="frmUserGuideHelplist">
            @*@Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(model => model.FunctionID1)*@
            <div class="form-group col-md-12">
                <div class="form-group row">
                    <label class="col-md-12 control-label ">
                        Nhập nôi dung :
                    </label>
                    <div class="col-md-12">

                        <textarea id="editor1" name="editor1" cols="80" rows="10" style="width:100%; height:400px"></textarea>
                        <div id="trackingDiv"></div>
                        <script>
                            CKEDITOR.replace('editor1', {
                                //uiColor: '#99CCCC',
                                toolbar: [{ name: 'document', items: ['Source', '-', 'Save', 'NewPage', 'DocProps', 'Preview', 'Print', '-', 'Templates'] },
                                { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
                                { name: 'forms', items: ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField'] },
                                { name: 'tools', items: ['Maximize', 'ShowBlocks', '-'] }, '/',
                                 { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll', '-', 'SpellChecker', 'Scayt'] },
                                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
                                { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl'] },
                                { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                                { name: 'insert', items: ['Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe'] },
                                { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
                                { name: 'colors', items: ['TextColor', 'BGColor'] },
                                ],
                                language: "en",
                                filebrowserUploadUrl: '../../ckeditor/plugins/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
                                filebrowserImageUploadUrl: '../../ckeditor/plugins/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                                filebrowserFlashUploadUrl: '../../ckeditor/plugins/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash',
                                filebrowserWindowHeight: '700'
                            }
                            );
                        </script>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="row groupformbutton">
        <form id="frmSearchlist">
            <div class="form-group col-md-12" style="text-align:center;">
                <a id="btnSave" class="btn btn-md btn-primary" onclick="btnSaveOnClick()"><span class="fa fa-save"></span> Lưu</a>
                <a class="btn btn-md btn-danger" onclick="btnRefreshOnClick()">Nhập lại</a>
            </div>
        </form>
    </div>
    <script>
        function ModelData() {

            return {
                @*ParentID: $("#treevalue_Function").val(),
            Name: $('#@Html.FieldIdFor(model => model.Name)').val(),
            ID: $('#@Html.FieldIdFor(model => model.ID)').val(),
            FunctionID1: $('#@Html.FieldIdFor(model => model.FunctionID1)').val(),
            Remark: $('#@Html.FieldIdFor(model => model.Remark)').val(),*@
                Content: CKEDITOR.instances.editor1.getData(),

            };
        }
        function btnSaveOnClick() {
            if (ConfirmOnDelete('Bạn có thật sự muốn lưu hay không?') == true) {
                if (checkinput() == false)
                    return;

                var paramValue = JSON.stringify({
                    model: ModelData(),
                });
                $.ajax({
                    url: '../../Home/SaveContent',
                    type: 'POST',
                    dataType: 'json',
                    data: paramValue,
                    contentType: 'application/json; charset=utf-8',
                    //beforeSend: function () {
                    //    //
                    //    waitingDialog.show('SCM đang xử lý, vui lòng đợi trong giây lát.');
                    //},
                    success: function (result) {
                        if (result.data.IsSuccess == false) {
                            if (!isNullOrEmpty(result.data.ErrorMess)) {
                                show(false, result.data.ErrorMess, true);


                            }
                            else {
                                show(false, "Không thể thực hiện được, vui lòng liên hệ Quản trị hệ thống.", true);
                            }
                        }
                        else {
                            show(true, result.data.Mess, true);
                            //var chatHub = $.connection.chatHub;
                            //chatHub.server.sendMessageToAll('userName', 'message');
                            //$('#grid_UserGuideHelp').data("kendoGrid").dataSource.read();
                        }
                        //InitPage();
                        //waitingDialog.hide();
                    },
                    error: function (msg) {
                        //waitingDialog.hide();
                    }
                }
            );


            }

        }
    </script>

