@model ManageShop.Models.DisplayContentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <div>
        <label id="con_title"> </label>
    </div>

    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#item" data-toggle="tab">
                Bán
            </a>
        </li>
        <li>
            <a href="#category" data-toggle="tab">
                Cho Thuê
            </a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in active" id="item">

            Bán

        </div>

        <div class="tab-pane fade" id="category">

            Cho Thuê
        </div>
    </div>
</body>
</html>
<script>
    document.onkeydown = function (evt) {
        evt = evt || window.event;
        var isEscape = false;
        if ("key" in evt) {
            isEscape = evt.key == "Escape";
        } else {
            isEscape = evt.keyCode == 27;
        }
        if (isEscape) {
            $('#windowpopup').modal('hide');
        }
    };
    $("#con_title").html('@Model.Title');


</script>