@model ManageShop.Models.DisplayContentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <div>
        <label id="con_title"> </label>
    </div>

    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a style="cursor:pointer">Ban</a>
         
            </li>
            <li role="presentation"><a style="cursor:pointer">Cho thue</a>
          
            </li>
          
        </ul>
    </div>
</body>
</html>
<script>
    document.onkeydown = function (evt) {
        evt = evt || window.event;
        var isEscape = false;
        if ("key" in evt) {
            isEscape = evt.key == "Escape";
        } else {
            isEscape = evt.keyCode == 27;
        }
        if (isEscape) {
            $('#windowpopup').modal('hide');
        }
    };
    $("#con_title").html('@Model.Title');


</script>