<div class="aboutPage_3">Phát triển bền vững</div>
    <div>
        <strong>Phú An Thạnh phát triển cùng cộng đồng</strong><br>
Ngoài việc chú trọng phát triển các sản phẩm khu công nghiệp là những lô
đất, nhà máy xây sẵn, điện nước, viễn thông. PAT còn chú trọng phát
triển các sản phẩm phục vụ cộng đồng như cây xanh, môi trường trong sạch
và các dịch vụ như: phòng khám, nhà hàng, nhà trẻ…đây là những dịch vụ
được hình thành trên mong muốn của PAT là được phục vụ, nâng cao đời
sống của người lao động trong khu công nghiệp và dân cư trong vùng.<br>
<br>
<div style="text-align: center;"><img alt="" src="http://www.pat-ip.com/Images/upload/Editor/phat%20trien%20cong%20dong.jpg" style="width: 500px; height: 321px;"></div>
<strong><br>
Phú An Thạnh phát triển đồng hành cùng việc bảo vệ môi trường xanh, sạch</strong><br>
PAT IP chú trọng đến việc đảm bảo các vấn đề về môi trường trong hoạt
động sản xuất kinh doanh. Xác định nhận thức về môi trường và các giải
pháp thân thiện với môi trường là phần tất yếu góp phần gìn giữ môi
trường tự nhiên và nâng cao mức độ hấp dẫn thu hút đầu tư. PAT IP chủ
động đầu tư vào hệ thống cấp nước, xử lý nước thải, thu gom và xử lý
chất thải công nghiệp nhằm đảm bảo môi trường sản xuất kinh doanh thân
thiện với môi trường và trách  nhiệm với xã hội.<br>
<br>
&nbsp; &nbsp; &nbsp;<img alt="" src="http://www.pat-ip.com/Images/upload/Editor/moi%20truong%20xanh1.gif" style="width: 300px; height: 216px;">&nbsp; &nbsp;<img alt="" src="/Images/upload/Editor/moi%20truong%20xanh%202.jpg" style="width: 300px; height: 250px;">
    </div>  
	
	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>