<div class="aboutPage_3">Tiết kiệm thời gian</div>
    <div>
        <strong>Cơ sở hạ tầng hoàn chỉnh:</strong><br>
Hệ thống cơ sở hạ tầng hoàn chỉnh, thời gian cấp phép nhanh, Ban quản lý KCN cũng luôn sâu sát với các nhà đầu tư, luôn tìm cách giải quyết thoả đáng, kịp thời các vướng mắc của nhà đầu tư. Đây cũng chính là ưu điểm vượt trội, đồng thời cũng là lợi thế so sánh của PAT IP so với các KCN khác.<br>
Điều này sẽ giúp khách hàng tiết kiệm khoảng thời gian chờ đợi, nhanh chóng triển khai công tác xây dựng và đi vào hoạt động sản xuất.<br>
<strong>Thủ tục pháp lý nhanh chóng</strong><br>
Với đội ngũ chuyên viên pháp lý có nhiều kinh nghiệm cùng với sự quan tâm của các ban ngành, PAT - cam kết luôn đồng hành với doanh nghiệp - có thể hỗ trợ cho khách hàng thực hiện các thủ tục pháp lý nhanh chóng trong đầu tư như:<br>
- Tư vấn pháp luật miễn phí<br>
- Hỗ trợ Xin cấp Giấy chứng nhận đăng ký kinh doanh, Chứng nhận đầu tư<br>
- Xin cấp Giấy chứng nhận quyền sử dụng đất<br>
- Hỗ trợ các thủ tục pháp lý khác có liên quan…<br>
Đến với PAT, khách hàng sẽ được hỗ trợ tối đa - tiết kiệm - nhanh chóng- hiệu quả.<br>
<br>
<br>
&nbsp; &nbsp; &nbsp;<img alt="" style="width: 300px; height: 250px;" src="http://www.pat-ip.com/Images/upload/Editor/dkh9sjj71252054096.nv.jpg">&nbsp; &nbsp;<img alt="" style="width: 300px; height: 250px;" src="http://www.pat-ip.com/Images/upload/Editor/c%C6%A1%20s%E1%BB%9F%20h%E1%BA%A1%20t%E1%BA%A7ng%20ho%C3%A0n%20ch%E1%BB%89nh.png">
    </div>  
	
	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>