 <div class="aboutPage_3">Thu gom và xử lý chất thải công nghiệp</div>
    <div>
        • Chất thải công nghiệp sẽ được phân loại và lưu trữ tại khu công nghiệp, sau đó vận chuyển đến các cơ sở tái chế.<br>
• Đơn vị hợp tác: Holcim Geocycle.<br>
<br>
<img alt="" src="http://www.pat-ip.com/Images/upload/Editor/khithai.jpg">
    </div>
	
	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>