<div class="aboutPage_3">Hệ thống xử lý nước thải</div>
    <div>
        <p><span>Tổng công suất nhà máy xử lý nước thải là 10.000m3/ngày đêm.</span></p>
<p><span>• Hợp tác với Công ty Kobelco Eco Solutions lên kế hoạch nâng cao công suất của nhà máy xử lý nước thải nhằm đáp ứng nhu cầu hoạt động của các nhà đầu tư.<br>
<br>
<br>
</span></p>
<div style="text-align: center;"><img alt="" style="width: 548px; height: 369px;" src="http://www.pat-ip.com/Images/upload/Editor/product_s642.jpg"></div>
<p>&nbsp;</p>
    </div>
	
	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>