  <div class="aboutPage_3">Hệ thống cấp nước sạch</div>
    <div>
        <p><span>Tổng công suất nước ngầm đã qua xử lý tại KCN là 13.000m3/ngày đêm.</span></p>
<p><span>• Chúng tôi chuẩn bị hợp tác với Công ty Kobelco Eco Solutions nhằm nâng công suất này lên thành 50.000m3/ngày đêm.<br>
<br>
<br>
</span></p>
<div style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="" style="width: 263px; height: 175px;" src="http://pat-ip.com/Images/Album/Img_Album_Thumb_70.jpg" height="130" width="627">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<p>&nbsp;</p>
    </div>
	
	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>