
<div class="homePage_left">

    <div class="aboutPage_2">
        <ul>
	        
	        <li><img src="/images/icon_info.jpg" align="absmiddle"></li>
	        <li><a href="/Contact.aspx">Liên hệ</a></li>        
        </ul>
    </div>      

   
    <div>
        <div><strong><span style="color: #006225;">KHU CÔNG NGHIỆP PHÚ AN THẠNH&nbsp;&nbsp;&nbsp;&nbsp;
<p><strong><span style="color: #ff0000;">HOTLINE: </span><span style="color: #009900;">090-380-8385 (Mr. Quang - P.Giám&nbsp;Đốc&nbsp;)</span></strong></p>
</span></strong></div>
<div style="padding: 5px;"><span style="color: #ff0000;"></span></div>
&nbsp;&nbsp;&nbsp;&nbsp; <img alt="" src="../../../Images/upload/Editor/con_address.png">&nbsp; Địa chỉ : Tỉnh lộ 830, xã An Thạnh, huyện Bến Lức, tỉnh Long An<br>
&nbsp;&nbsp;&nbsp;&nbsp; <img alt="" src="../../../Images/upload/Editor/con_tel.png" height="16" width="16">&nbsp; Điện thoại :&nbsp;&nbsp; (072) 3655 746 <br>
&nbsp;&nbsp;&nbsp;&nbsp; <img alt="" src="../../../Images/upload/Editor/con_fax.png">&nbsp; Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; (072) 3655 709 <br>
&nbsp;&nbsp;&nbsp;&nbsp; <img alt="" src="../../../Images/upload/Editor/emailButton.png" height="16" width="16">&nbsp; Email :&nbsp;<span style="line-height: 115%; text-decoration: underline; font-size: 16px; background-color: #ffffff;"><strong><span style="font-size: 16px;">kinhdoanhpat@pat-ip.co</span>m</strong></span>
<div style="padding: 5px;">&nbsp; Chúng tôi luôn lắng nghe và trân trọng những&nbsp;thông tin&nbsp;của quý khách. Xin vui lòng nhập thông điệp vào mẫu dưới đây và gửi cho chúng tôi. Chúng tôi sẽ&nbsp;phản hồi trong thời gian sớm nhất có thể.</div>
<div style="padding: 5px;"></div>
    </div>                   
                 		   
        	
    </div>
 
   <div class="clearboth"></div>
</div>






	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>