<div class="aboutPage_3">Thân thiện môi trường</div>
    <div>
        <div style="text-align: justify;">Nhận thức được tầm quan trọng của công tác bảo vệ môi trường và hạn chế đến mức thấp nhất các tác độngt iêu cực, Công ty Phú An Thạnh đã dành 14 % quỹ đất cho việc trồng cây xanh và bảo vệ môi trường bằng cách:</div>
<div style="text-align: justify;">- Trồng cây xanh trong khuôn viên dự án (ngoài phạm vi nhà máy).</div>
<div style="text-align: justify;">- Trồng cây xanh trong khuôn viên các nhà máy.</div>
<div style="text-align: justify;">- Thiết kế, xây dựng nhà xưởng của các nhà máy thông thoáng</div>
<div style="text-align: justify;">- Lắp đặt thiết bị thông gió, chiếu sáng tại nhà xưởng của nhà máy.</div>
<div style="text-align: justify;">Hệ thống cây xanh trong Khu công nghiệp Phú An Thạnh, bao gồm hệ thống vườn hoa cây xanh cách ly các nhà máy trong dự án, cách ly giao thông, cách ly dự án với khu vực xung quanh.&nbsp;</div>
<div style="text-align: justify;">Đối với từng nhà máy, tỷ lệ diện tích cây xanh trên tổng diện tích sẽ phải đạt ít nhất 20%.&nbsp;</div>
<div style="text-align: justify;"><br>
</div>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="" style="width: 256px; height: 197px;" src="http://www.pat-ip.com/Images/upload/Editor/416294vnbatdongsanloabcd.jpg">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="" style="width: 256px; height: 197px;" src="http://www.pat-ip.com/Images/upload/Editor/Cayxanh600.jpg">
<script>
document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>