<div class="aboutPage_3">Đất công nghiệp</div>
    <div>
        <div style="text-align: justify;"><strong>Đất</strong>: Toàn bộ khu vực quy hoạch thiết kế san nền thấp hơn đường Tỉnh lộ 830 là 0,2m, khi hoàn thiện sẽ bằng cao độ Đường Tỉnh lộ 830. Đảm bảo độ dốc thoát về hướng kênh Rạch Vông và kên Nước Mục để thuận lợi cho việc thoát nước</div>
<div style="text-align: justify;">Cao độ thiết kế san lấp mặt bằng chung: Khu đất được thiết kế với cao độ giả định 2.000 (tương đương cao độ + 1,820 cao độ quốc gia).</div>
<br>
<div style="text-align: center;"><img alt="" src="http://www.pat-ip.com/Images/upload/Editor/images%20(2).jpg"><br>
<br>
</div>
<strong>Cơ sở hạ tầng</strong>: hệ thống cấp nước, cấp điện, bến thủy nội địa, hệ thống giao thông nội bộ, thông tin liên lạc, xử lý chất thải…được xây dựng và lắp đặt hoàn chỉnh.<br>
PAT IP bao gồm một Phức hợp Khu công nghiệp – Khu dân cư và Dịch vụ với mặt bằng tổng thể 1.002 ha, được xây dựng thành 2 giai đoạn:<br>
<strong>• Giai đoạn 1</strong>: Khu công nghiệp diện tích 307ha và phần mở rộng 85ha.<br>
- Tổng vốn đầu tư: 1.200 tỷ<br>
- Đất công nghiệp: 215,3 ha<br>
- Đất trung tâm điều hành dịch vụ: 3,43 ha<br>
- Đất kỹ thuật, công trình đầu mối: 3,55 ha<br>
- Đất cây xanh: 40,99 ha<br>
- Đất giao thông: 32,29 ha<br>
- Nhà ở chuyên gia: 11,65 ha<br>
<br>
<strong>• Giai đoạn 2</strong>: Khu công nghiệp diện tích 300ha và Khu dân cư diện tích 310ha.<br>
- Đất công nghiệp: 300 ha<br>
- Khu dân cư: 310 ha
    </div>
<script>
document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>