<div class="homePage_left">
    <div class="aboutPage_2">
        <ul>
	      
	       
	        <li><a href="/Introduction.aspx">Giới thiệu công ty</a></li>        
        </ul>
    </div>  
    <div>
        Công ty Cổ phần Phú An Thạnh (PAT JSC) được thành lập năm 2006 theo giấy phép kinh doanh số 0304769100 của Sở kế hoạch đầu tư Tp.HCM cấp ngày 06 tháng 12 năm 2006. Là tập đoàn đa ngành&nbsp;kinh doanh&nbsp;phát triển các dự án bất động sản: Khu Công nghiệp, Khu Dân cư, Cảng biển nước sâu, và cung cấp các dịch vụ bất động sản và tài chánh. Hiện PAT JSC đang phát triển các dự án:
<p style="margin-left: 21pt;"><span>- Khu công nghiệp Phú An Thạnh&nbsp;&nbsp;&nbsp; (Long An)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quy mô: 1.002 ha.</span></p>
<p style="margin-left: 21pt;"><span>- Long Hựu – Long An (Khu công nghiệp, Khu tái định cư, Cảng biển nước sâu):&nbsp; Quy mô: 3.000 ha</span></p>
<p style="margin-left: 21pt;"><span>- Phú Long – Long An (Khu công nghiệp, Khu dân cư, Khu tái định cư):&nbsp; &nbsp; Quy mô: 500 ha</span></p>
<p style="margin-left: 21pt;"><span>- Khu dân cư Đông Phương Hồng&nbsp;&nbsp; – Quận 9, Tp.HCM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quy mô: 24 ha</span></p>
<br>
<strong><span>» TẦM NHÌN</span></strong>
<p>PAT định hướng trở thành Tập đoàn đa ngành hàng đầu về quy mô, tính hiệu quả và chuyên nghiệp, xoay quanh trục phát triển các dự án Bất động sản: Khu công nghiệp, Khu dân cư, Cảng biển nước sâu cũng như cung cấp các dịch vụ bất động sản và tài chính.</p>
<center><img alt="" src="http://www.pat-ip.com/Images/upload/Editor/gioi-thieu/tam-nhin.jpg" height="245" width="369"></center>
<p>&nbsp;</p>
<br>
<strong><span>» SỨ MỆNH</span></strong>
<p>&nbsp;</p>
<div>Chúng tôi nỗ lực phát triển vì lợi ích của các nhà đầu&nbsp;tư, nhân viên, cổ đông, đối tác và cộng đồng:</div>
<div>• Cung cấp cho nhà đầu tư các sản phẩm chất&nbsp;lượng cao, dịch vụ chuyên nghiệp với giá cả&nbsp;cạnh tranh.</div>
<div>• Tạo cho nhân viên môi trường làm việc hấp dẫn&nbsp;và thử thách với lương thưởng xứng đáng với&nbsp;năng lực của chính mình.</div>
<div>• Các cổ đông tự hào về uy tín, hiệu quả hoạt&nbsp;động và thành công bền vững của công ty.</div>
<div>• Đáng tin cậy và công bằng với các đối tác trong&nbsp;việc khai thác các cơ hội kinh doanh tại Việt&nbsp;Nam.</div>
<div>• Tích cực góp phần bảo vệ môi trường xanh&nbsp;sạch, phát triển cộng đồng và quảng bá hình&nbsp;ảnh đất nước, con người Việt Nam văn minh,thân thiện.</div>
<p>&nbsp;</p>
<br>
<strong><span>» GIÁ TRỊ CỐT LÕI</span></strong>
<p>&nbsp;</p>
<div>Giá trị cốt lõi là kim chỉ nam giúp chúng tôi thực hiện&nbsp;sứ mệnh và đem lại lợi ích cho các nhóm hữu quan:</div>
<div>• Sự tín nhiệm là điều cốt yếu giúp xây dựng quan&nbsp;hệ bền vững về trách nhiệm, tôn trọng lẫn nhau&nbsp;và minh bạch với các nhóm hữu quan.</div>
<div>• Suy nghĩ và hành động một cách chính xác, hiệu&nbsp;quả và sáng tạo, thể hiện tính chuyên nghiệp.</div>
<div>• Nhận thức về môi trường và các giải pháp thân&nbsp;thiện với môi trường là phần tất yếu góp phần&nbsp;gìn giữ môi trường tự nhiên quý giá cho thế hệ&nbsp;tương lai.</div>
<center><img alt="" src="/Images/upload/Editor/gioi-thieu/gia-tri-cot-loi.jpg" height="245" width="369"></center>
<p>&nbsp;</p>
    </div>
  
</div>

<script>
document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>