 <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=53"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=53" style="color:#006225;">Hiệp định Thương mại Đối tác Xuyên Thái Bình Dương (TPP) đã được ký kết</a> <span style="color:#aaa;">18/3/2016</span></div>

        <div class="ce_text">
            <p style="text-indent: 0in; line-height: 12pt; background: white;"><strong><span style="font-size: 10pt; font-family: arial, sans-serif; color: #0072c6;">Hiệp định Thương mại Đối tác Xuyên Thái Bình Dương (TPP) đã được ký kết</span></strong></p>
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=52"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=52" style="color:#006225;">Quản lý quy hoạch và xây dựng trong các khu công nghiệp, khu chế xuất, khu kinh tế</a> <span style="color:#aaa;">2/10/2015</span></div>

        <div class="ce_text">
            Quản lý quy hoạch và xây dựng trong các khu công nghiệp, khu chế xuất, khu kinh tế&nbsp;
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=51"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=51" style="color:#006225;">UBND tỉnh Long An tiếp tục ủy quyền cho Ban Quản lý Khu kinh tế tỉnh Long An thẩm định, phê duyệt báo cáo đánh giá tác động môi trường (ĐTM)</a> <span style="color:#aaa;">31/8/2015</span></div>

        <div class="ce_text">
            UBND tỉnh Long An tiếp tục ủy quyền cho Ban Quản lý Khu kinh tế tỉnh Long An thẩm định, phê duyệt báo cáo đánh giá tác động môi trường (ĐTM)
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=50"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=50" style="color:#006225;">Thay đổi nội dung đăng ký kinh doanh đối với dự án có vốn đầu tư nước ngoài - FDI</a> <span style="color:#aaa;">28/8/2015</span></div>

        <div class="ce_text">
            Thay đổi nội dung đăng ký kinh doanh đối với dự án có vốn đầu tư nước ngoài - FDI
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=49"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=49" style="color:#006225;">Khuyến khích nhà đầu tư kê khai trực tuyến</a> <span style="color:#aaa;">3/8/2015</span></div>

        <div class="ce_text">
            Khuyến khích nhà đầu tư kê khai trực tuyến
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=47"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=47" style="color:#006225;">Áp dụng Luật Đầu tư mới kể từ ngày 01/07/2015</a> <span style="color:#aaa;">3/7/2015</span></div>

        <div class="ce_text">
            <p style="line-height: 12pt; background: white;"><strong><span style="font-size: 10pt; color: #0072c6;"></span></strong></p>
Áp dụng Luật Đầu tư mới kể từ ngày 01/07/2015
<p style="text-align: right; background: white;"><strong><span style="font-size: 10pt;"></span></strong> </p>
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=48"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=48" style="color:#006225;">Áp dụng Luật Doanh nghiệp mới kể từ ngày 01/07/2015</a> <span style="color:#aaa;">3/7/2015</span></div>

        <div class="ce_text">
            Áp dụng Luật Doanh nghiệp mới kể từ ngày 01/07/2015
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=46"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=46" style="color:#006225;">Kết quả xếp hạng PCI tỉnh Long An năm 2014</a> <span style="color:#aaa;">18/5/2015</span></div>

        <div class="ce_text">
            <p style="line-height: 12pt; background: white;"><strong><span style="font-size: 10pt; color: #0072c6;">Kết quả xếp hạng PCI tỉnh Long An năm 2014</span></strong></p>
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=45"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=45" style="color:#006225;">Thủ tướng làm việc với lãnh đạo tỉnh Long An</a> <span style="color:#aaa;">1/4/2015</span></div>

        <div class="ce_text">
            <p style="background: white;"><strong>Chiều 24/3/2015, Thủ tướng Nguyễn Tấn Dũng có buổi làm việc với lãnh đạo tỉnh Long An về tình hình kinh tế - xã hội và xử lý một số các kiến nghị của địa phương thuộc thẩm quyền của Chính phủ.</strong> </p>
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=44"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=44" style="color:#006225;">Thực hiện Luật xây dựng số 50/2014/QH13</a> <span style="color:#aaa;">1/4/2015</span></div>

        <div class="ce_text">
            <p style="text-align: justify;"><span style="font-size: 10pt;">Luật Xây dựng số&nbsp;</span><a href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;_page=1&amp;mode=detail&amp;document_id=175348"><span style="font-size: 10pt; color: #663399;">50/2014/QH13</span></a><span style="font-size: 10pt;">&nbsp;đã được Quốc hội khóa XIII thông qua tại kỳ họp thứ 7 ngày 18/6/2014 và có hiệu lực thi hành kể từ ngày 01/01/2015.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Tại tỉnh Long An, để đảm bảo các hoạt động đầu tư xây dựng trên địa bàn tỉnh không bị gián đoạn trong thời gian chờ các cơ quan trung ương ban hành văn bản quy phạm pháp luật hướng dẫn thi hành Luật Xây dựng số 50/2014/QH13. Ngày 06/3/2015, UBND tỉnh ban hành văn bản số&nbsp;</span><a href="http://bqlkkt.longan.gov.vn/HOP%20THU%20DEN%20CO%20QUAN/20150306161728_751_UBND_KT_06032015_trien_khai_thuc_hien_Luat_Xay_dung_so_50_2014_QH13_1.pdf"><span style="font-size: 10pt; color: #663399;">751/UBND-KT</span></a><span style="font-size: 10pt;">&nbsp;"Về việc triển khai thực hiện Luật Xây dựng số 50/2014/QH13 theo nội dung văn bản số 3482/BXD-HĐXD ngày 30/12/2014 của Bộ Xây dựng".</span></p>
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=43"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=43" style="color:#006225;">Ngăn chặn và đề phòng nguy cơ cháy nổ tại các khu công nghiệp trong mùa khô</a> <span style="color:#aaa;">23/3/2015</span></div>

        <div class="ce_text">
            <span style="font-size: 17.3333339691162px; text-align: justify; background-color: #ffffff;">&nbsp;Trong thời gian gần đây, trong các khu công nghiệp (KCN) trên địa bàn tỉnh đã xảy ra các vụ cháy gây nhiều thiệt hại về tài sản, ảnh hưởng tình hình an ninh trật tự và gây tâm lý lo lắng cho doanh nghiệp, người lao động, người dân trong khu vực.</span>
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/News.aspx?Act=Detail&amp;ID=42"><img src="/images/news/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/News.aspx?Act=Detail&amp;ID=42" style="color:#006225;">Khu công nghiệp, hạt nhân phát triển kinh tế tỉnh Long An</a> <span style="color:#aaa;">24/1/2015</span></div>

        <div class="ce_text">
            Tính đến ngày 31/12/2014 đã có 500 dự án (trên tổng số 924 dự án đầu tư) trong các khu công nghiệp trên địa bàn tỉnh Long An đi vào hoạt động với 304 dự án có vốn đầu tư trong nước (FDI) và 196 dự án có vốn đầu tư nước ngoài&nbsp;
        </div> 
        
        <div style="clear: both;"></div>
    </div>


<div class="page">
   <div id="Paging"><strong>Trang</strong>&nbsp;<span id="PagingActive">1</span>&nbsp;<a href="/News.aspx?CateID=-1&amp;Page=2">2</a>&nbsp;<a href="/News.aspx?CateID=-1&amp;Page=3">3</a>&nbsp;<a href="/News.aspx?CateID=-1&amp;Page=4">4</a>&nbsp;<a href="/News.aspx?CateID=-1&amp;Page=5">5</a>&nbsp;<a href="/News.aspx?CateID=-1&amp;Page=2">»</a>&nbsp;<a href="/News.aspx?CateID=-1&amp;Page=5">Cuối</a>&nbsp;</div>
</div>	   
</div>
	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>