<div class="aboutPage_2">
        <ul>
	      
	        <li><img src="images/icon_info.jpg" align="absmiddle"></li>
	        <li><a href="/Picture.aspx">Hình ảnh hoạt động</a></li>        
        </ul>
    </div>  
  
   <div> 
        <div id="ctl00_ContentPH_pnContent">
	

   <div style="width:650px; margin: auto; position:relative">
      
                <div class="pic-item" style=" left:0px; top:0px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=1">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_34.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=1" class="feed_pinalbum">Cơ sở hạ tầng khu công nghiệp PAT</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:220px; top:0px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=33">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_35.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=33" class="feed_pinalbum">Lễ trao giấy chứng nhận đầu tư cho Công ty TNHH Texlot Textile</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:440px; top:0px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=30">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_61.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=30" class="feed_pinalbum">Lễ ký kết hợp đồng giữa KCN Phú An Thạnh - Long An và Công ty TNHH Nhi Phát - NP</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:0px; top:175px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=32">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_24.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=32" class="feed_pinalbum">Phái Đoàn ngành dệt Ấn Độ thăm KCN Phú An Thạnh</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:220px; top:175px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=28">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_27.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=28" class="feed_pinalbum">Lễ ký kết Hợp đồng hợp tác trồng rừng giữa KCN Phú An Thạnh - Long An và Công ty TNHH Vina Eco Board</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:440px; top:175px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=4">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_15.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=4" class="feed_pinalbum">Lễ kí hợp đồng thuê đất với FUKUI</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:0px; top:350px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=29">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_26.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=29" class="feed_pinalbum">Lễ ký kết hợp đồng giữa KCN Phú An Thạnh - Long An và Công ty TNHH Gamis Việt Nam</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:220px; top:350px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=3">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_07.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=3" class="feed_pinalbum">Lễ ký hiệp định vay vốn</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:440px; top:350px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=27">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_40.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=27" class="feed_pinalbum">Trồng cây mừng sinh nhật Bác (19/05/1890 - 19/05/2015)</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:0px; top:525px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=5">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_73.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=5" class="feed_pinalbum">Chủ tịch PAT với Thị Trưởng thành phố  Kobe</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:220px; top:525px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=6">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_53.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=6" class="feed_pinalbum">Hội Thảo  đầu tư vào  Long An tại ToKyo</a>
	            </div>

            </div>
      
                <div class="pic-item" style=" left:440px; top:525px;">
	            <div>
		            <span class="photo_wrapper pricecom">
			            <span class="bgalb"></span>
			            <a href="/Picture.aspx?Act=Detail&amp;CateID=25">
				            <img alt="" src="http://www.pat-ip.com/images/albumcategory/Img_AlbumCategory_Thumb_36.jpg" border="0" height="159">
			            </a>
		            </span>
	            </div>	
	            <div class="name">
		            <a href="/Picture.aspx?Act=Detail&amp;CateID=25" class="feed_pinalbum">Hội nghị tuyên truyền PCCC</a>
	            </div>

            </div>
      
      
           

    </div>

    <div class="page" style="position:relative; top:700px">
   <div id="Paging"><strong>Trang</strong>&nbsp;<span id="PagingActive">1</span>&nbsp;<a href="/Picture.aspx?&amp;Page=2">2</a>&nbsp;<a href="/Picture.aspx?&amp;Page=3">3</a>&nbsp;<a href="/Picture.aspx?&amp;Page=2">»</a>&nbsp;<a href="/Picture.aspx?&amp;Page=3">Cuối</a>&nbsp;</div>
    </div>
 
</div>
       
    </div>




	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>