
<div id="ctl00_ContentPH_pnContent">
	   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=13"><img src="http://www.pat-ip.com/images/Community/Img_Community_Thumb_33.jpg" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=13" style="color:#006225;">Lễ trao giấy chứng nhận đầu tư cho công ty TNHH Hưng Mỹ Phú</a> <span style="color:#AAA;">24/5/2016</span></div>

        <div class="ce_text">
            Lễ trao giấy chứng nhận đầu tư cho công ty TNHH Hưng Mỹ Phú
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=12"><img src="http://www.pat-ip.com/images/Community/Img_Community_Thumb_64.jpg" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=12" style="color:#006225;">Ký hợp đồng thuê đất với công ty TNHH Texlot Textile</a> <span style="color:#AAA;">25/4/2016</span></div>

        <div class="ce_text">
            Ký hợp đồng thuê đất với công ty TNHH Texlot Textile
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=11"><img src="http://www.pat-ip.com/images/Community/Img_Community_Thumb_57.jpg" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=11" style="color:#006225;">Ký hợp đồng chuyển nhượng QSĐ với công ty Hưng Mỹ Phú</a> <span style="color:#AAA;">3/2/2016</span></div>

        <div class="ce_text">
            Ký hợp đồng chuyển nhượng QSĐ với công ty TNHH MTV Hưng Mỹ Phú
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=10"><img src="http://www.pat-ip.com/images/Community/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=10" style="color:#006225;">Ký thỏa thuận cho thuê đất với công ty  TNHH TEXLOT</a> <span style="color:#AAA;">15/12/2015</span></div>

        <div class="ce_text">
            Ngày 11 tháng 12 khu công nghiệp Phú An Thạnh đã ký thỏa thuận giữ đất với&nbsp;đại diện công ty TEXLOT. Nhà đầu tư này sẽ xây dựng nhà máy dệt may trong khu côn nghiệp Phú An Thạnh với diện tích đất khoảng 4ha, tổng vốn đầu tư gần 8 triệu USD. <br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=9"><img src="http://www.pat-ip.com/images/Community/" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=9" style="color:#006225;">Khu công nghiệp Phú An Thạnh được tiếp nhận các ngành nghề: dệt nhuộm, xi mạ và thuộc da.</a> <span style="color:#AAA;">9/12/2015</span></div>

        <div class="ce_text">
            <p>&nbsp;Khu công nghiệp Phú An Thạnh có tổng diện tích 1002ha được chia làm 2 giai đoạn: giai đoạn 1 đầu tư 387ha đất công nghiệp, giai đoạn 2 gồm 305ha đất công nghiệp và 310ha khu phức hợp thương mại và dân cư. </p>
<br>
<p style="text-align: center;"><img alt="" src="http://www.pat-ip.com/Images/upload/Editor/det%20nhuom%20xi%20ma.jpg"> </p>
<br>
<p>Đến nay, giai đoạn 1 của khu công nghiệp đã được đầu tư hoàn chỉnh: giao thông thông thoáng, đã xây dựng nhà máy cấp nước, nhà máy nước thải… sẵn sàng phục vụ cho các nhà đầu tư trong và ngoài nước. </p>
<p>Với các&nbsp;lợi thế&nbsp;sẵn có của khu công nghiệp Phú An Thạnh như: vị trí đắc địa, thuận lợi về giao thông, hạ tầng bên trong khu công nghiệp được đầu tư đồng bộ, thông thoáng. Các nhà đầu tư khi đến với khu công nghiệp Phú An Thạnh được hưởng các chính sách ưu đãi đầu tư, ưu đãi về thuế, hỗ trợ hoàn toàn miễn phí thủ tục đầu tư và đội ngũ nhân viên chuyên nghiệp tận tình hỗ trợ nhà đầu tư suốt quá trình đầu tư sản xuất tại đây<br>
<br>
&nbsp;Ngoài các ngành nghề đã được phê duyệt trong Quyết định 1281/QĐ-UBND, ngày 24/04/2014 Ủy Ban Nhân Dân tỉnh Long An có Văn bản số: 47/TB-UBND cho phép khu công nghiệp Phú An Thạnh tiếp nhận các ngành nghề:<strong><span style="color: #3333ff;"> dệt nhuộm, xi mạ và thuộc da</span></strong>. Đây là điều kiện thuận lợi để khu công nghiệp Phú An Thạnh thu hút các nhà đầu tư trong thời gian tới. </p>
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=8"><img src="http://www.pat-ip.com/images/Community/Img_Community_Thumb_41.jpg" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=8" style="color:#006225;">Khu công nghiệp Phú An Thạnh tiếp Tập đoàn Sumitomo (Nhật Bản)</a> <span style="color:#AAA;">5/4/2013</span></div>

        <div class="ce_text">
            Sumitomo là Tập đoàn lớn của Nhật Bản, có nhiều kinh nghiệm trong việc xây dựng và phát triển khu công nghiệp tại Việt Nam. Hiện nay, Tập đoàn Sumitomo Nhật Bản là chủ đầu tư xây dựng và phát triển hạ tầng 2 khu công nghiệp
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=7"><img src="http://www.pat-ip.com/images/Community/Img_Community_Thumb_16.gif" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=7" style="color:#006225;">Giờ trái đất năm 2013 " Tôi và bạn cùng hành động"</a> <span style="color:#AAA;">5/4/2013</span></div>

        <div class="ce_text">
            Giờ Trái Đất là một chương trình quốc tế hằng năm, do Quỹ Quốc tế Bảo vệ Thiên nhiên(World Wildlife Fund) về Biến đổi khí hậu khởi xướng và phát động trên toàn thế giới. Chương trình kêu gọi các cá nhân, tổ chức cùng tắt các thiết bị chiếu sáng không cần thiết vào lúc 20h30-21h30 (giờ địa phương) ngày thứ Bảy cuối cùng của tháng 3 hàng năm
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=6"><img src="http://www.pat-ip.com/images/Community/Img_Community_Thumb_72.jpg" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=6" style="color:#006225;">Lễ phát động " Tuần lễ quốc gia an toàn vệ sinh lao động và phòng chống cháy nổ"</a> <span style="color:#AAA;">5/4/2013</span></div>

        <div class="ce_text">
            Thực hiện Kế hoạch số 556/KH-UBND ngày 20/02/2013 của UBND tỉnh Long An về hưởng ứng “Tuần lễ quốc gia An toàn vệ sinh lao động-Phòng chống cháy nổ” trên địa bàn tỉnh Long an lần thứ 15 năm 2013
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=5"><img src="http://www.pat-ip.com/images/Community/Img_Community_Thumb_01.jpg" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=5" style="color:#006225;">Quản lý chất lượng công trình xây dựng theo Nghị định mới</a> <span style="color:#AAA;">5/4/2013</span></div>

        <div class="ce_text">
            Ngày 06/02/2013, Chính phủ đã ban hành Nghị định số 15/2013/NĐ-CP về quản lý chất lượng công trình xây dựng, có hiệu lực kể từ ngày 15/04/2013. Đây là Nghị định mới về quản lý chất lượng công trình xây dựng được ban hành để thay thế Nghị định 209/2004/NĐ-CP ngày 16/12/2004
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=3"><img src="http://www.pat-ip.com/images/Community/Img_Community_Thumb_13.jpg" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=3" style="color:#006225;">Keangnam thu phí cao để hạn chế người ngoài vào gửi xe</a> <span style="color:#AAA;">24/7/2011</span></div>

        <div class="ce_text">
            Sau 7 tiếng đàm phán từ 17h đến gần 12h đêm 27/6, chủ đầu tư tòa nhà cao nhất Keangnam cho biết sẽ giảm mức phí trông xe sau khi làm việc với Sở Tài chính. Phí dịch vụ mới cũng sẽ được chủ đầu tư đưa ra trong hai tuần tới.
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=2"><img src="http://www.pat-ip.com/images/Community/Img_Community_Thumb_20.jpg" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=2" style="color:#006225;">Căn hộ cho thuê hạng sang giảm giá</a> <span style="color:#AAA;">24/7/2011</span></div>

        <div class="ce_text">
            Thị trường căn hộ dịch vụ ở Hà Nội giảm giá nhẹ từ 1% đến 2% so với quý một. Trong khi đó, khu vực TP HCM, căn hộ hạng sang giảm giá, còn hạng trung lại tăng nhẹ.
        </div> 
        
        <div style="clear: both;"></div>
    </div>
   
    <div style="padding:20px 0px; border-bottom:1px dotted #ccc;">

        <div style="padding-right:5px; float:left;"><a href="/Community.aspx?Act=Detail&amp;ID=1"><img src="http://www.pat-ip.com/images/Community/Img_Community_Thumb_77.jpg" style="padding:3px; border:1px solid #ccc" width="100"></a></div>
        
        <div style="font-size:13px; padding-bottom:5px;"><a href="/Community.aspx?Act=Detail&amp;ID=1" style="color:#006225;">Nhà đất Hà Nội hút hơn 38.300 tỷ đồng vốn ngân hàng</a> <span style="color:#AAA;">3/4/2011</span></div>

        <div class="ce_text">
            Theo UBND thành phố Hà Nội, 6 tháng đầu năm, số tiền cho vay để đầu tư, kinh doanh bất động sản trên toàn thành phố là 38.320 tỷ đồng, chiếm 6,9% tổng dư nợ.
        </div> 
        
        <div style="clear: both;"></div>
    </div>


<div class="page">
   
</div>	   
</div>






	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>