<div class="aboutPage_3">Bản đồ tổng thể và phân lô</div>
    <div>
        <span>&nbsp;<span style="color: #3333ff;">&nbsp;Các nhà&nbsp;đầu tư tiêu biểu trong khu công nghiệp Phú An Thạnh:<br>
</span>1. Công&nbsp; ty TNHH VINA ECO BOARD ( Tập đoàn SUMITOMO FORESTRY GROUP - Nhật Bản).<br>
2.&nbsp;Công&nbsp;ty Cổ Phần&nbsp;SCG CONCRETE&nbsp;(&nbsp;Tập&nbsp;đoàn SCG - Thái lan).<br>
3. Công ty TNHH MTV Thép&nbsp;HỮU LIÊN (&nbsp;Đài Loan).<br>
4. Công ty Cổ Phần Thép&nbsp;Á CHÂU ( Việt Nam).<br>
5. Công ty TNHH FUKUI&nbsp; ( Nhật Bản)&nbsp;&nbsp;&nbsp;<br>
6. Công ty Cổ Phần LAVIFOOD&nbsp;(Hàn Quốc)<br>
7. Công ty Cổ Phần&nbsp;SHIN TUNG&nbsp;(&nbsp;Đài Loan)<br>
8. Công ty cổ phần HƯNG MỸ PHÚ&nbsp;(&nbsp;Đài Loan)<br>
8. Trung tâm dữ liệu NGÂN HÀNG VIETCOMBANK - CN Hồ Chí Minh&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
<br>
<img alt="" style="width: 660px; height: 416px;" src="http://pat-ip.com/Images/upload/Editor/tin-tuc/Master-Plan.jpg" height="573" width="1042"><script>
document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>