<div class="aboutPage_3">Hiệp định Thương mại Đối tác Xuyên Thái Bình Dương (TPP) đã được ký kết</div>

<div class="ce_text">
<p style="text-indent: 0in; line-height: 12pt; background: white;"><span style="font-size: 10pt; font-family: arial, sans-serif; text-indent: 0in;">&nbsp;</span></p>
<p style="text-indent: 0in; text-align: justify; background: white;"><span style="font-size: 10pt; font-family: arial, sans-serif;">Sáng nay 4/2 tại New Zealand, Hiệp định Thương mại Đối tác Xuyên Thái Bình Dương (TPP) đã được ký kết với sự tham gia của các bộ trưởng thương mại từ 12 quốc gia thành viên.</span></p>
<p style="text-indent: 0in; text-align: justify; background: white;"><span style="font-size: 10pt; font-family: arial, sans-serif;">Trước đó hôm 3/2, Việt Nam đã ra Nghị định về Hiệp định TPP với nội dung đồng ý ký hiệp định và cử Bộ trưởng Bộ Công thương Vũ Huy Hoàng làm trưởng đoàn đi tham gia lễ ký kết tại New Zealand.Bộ trưởng Công thương Vũ Huy Hoàng dẫn đầu phái đoàn Việt Nam đến tham gia lễ ký kết tại New Zealand.</span></p>
<p style="text-indent: 0in; text-align: justify; background: white;"><span style="font-size: 10pt; font-family: arial, sans-serif;">Hiệp định đạt được vào tháng 10/2015, sau 5 năm đàm phán, nhằm giảm bớt những rào cản thuế quan và nâng cao các chuẩn mực sống và cổ xúy cho sự phát triển kinh tế và minh bạch. Hiệp định sau đó sẽ được phê chuẩn ở mỗi quốc gia, dự kiến có thể mất nhiều năm.</span></p>
<p style="text-indent: 0in; text-align: justify; background: white;"><span style="font-size: 10pt; font-family: arial, sans-serif;">Trong số các nước thành viên, Việt Nam được xem là quốc gia sẽ được hưởng lợi nhiều nhất từ TPP, đặc biệt trong các lĩnh vực dệt may, giày da, đồ gỗ. Tuy nhiên, Việt Nam cũng phải thực hiện nhiều cải cách và hoàn thiện thể chế pháp lý theo các yêu cầu của hiệp định.</span></p>
<p style="text-indent: 0in; text-align: justify; background: white;"><span style="font-size: 10pt; font-family: arial, sans-serif;">Câu hỏi đặt ra là khi nào sẽ được hưởng lợi từ TPP? Trợ lý Ngoại trưởng Mỹ Tom Malinowski trong cuộc gặp gỡ cộng đồng Việt Nam tại thủ đô Washington, Mỹ, hồi tháng 12/2015 cho biết: "Không một lợi ích nào (từ TPP) có hiệu lực cho tới khi nào Việt Nam thực hiện tất cả các yêu cầu của TPP. Và chỉ khi chúng tôi chứng nhận với quốc hội Mỹ rằng Việt Nam đã thực hiện tất cả các cam kết, thì lúc đó Việt Nam mới bắt đầu được miễn thuế và hưởng các lợi ích khác của TPP."</span></p>
<p style="text-indent: 0in; text-align: justify; background: white;"><span style="font-size: 10pt; font-family: arial, sans-serif;">Hiệp định Thương mại Đối tác Xuyên Thái Bình Dương là một hiệp định tự do thương mại (FTA) nhằm tự do hóa thương mại và đầu tư giữa 12 quốc gia thành viên là New Zealand, Australia, Brunei, Canada, Chile, Nhật Bản, Malaysia, Mexico, Peru, Singapore, Hoa Kỳ và Việt Nam.</span></p>
<p style="text-indent: 0in; text-align: justify; background: white;"><span style="font-size: 10pt; font-family: arial, sans-serif;">Ước tính, TPP sẽ đóng góp đến 300 tỷ đôla mỗi năm cho GDP của thế giới, chiếm 40% giá trị kinh tế toàn cầu.</span></p>
<p style="text-indent: 0in; text-align: right; background: white;"><strong><span style="font-size: 10pt; font-family: arial, sans-serif;">LMQ (P. DN &amp;TM)</span></strong></p>
</div>

<div class="clear"></div>


<div style="padding-top:20px;margin-top:30px; ">
     <div class="aboutPage_3" style="border-bottom:1px dotted #aaa;font-size:12px;">» Các tin tức khác</div>
    <ul style="margin:0; padding:0;">
    
          <li style="margin-left:10px; padding:0px;"><a href="/News.aspx?Act=Detail&amp;ID=52" style="color:#006225">Quản lý quy hoạch và xây dựng trong các khu công nghiệp, khu chế xuất, khu kinh tế</a> (2/10/2015)</li>
      
          <li style="margin-left:10px; padding:0px;"><a href="/News.aspx?Act=Detail&amp;ID=51" style="color:#006225">UBND tỉnh Long An tiếp tục ủy quyền cho Ban Quản lý Khu kinh tế tỉnh Long An thẩm định, phê duyệt báo cáo đánh giá tác động môi trường (ĐTM)</a> (31/8/2015)</li>
      
          <li style="margin-left:10px; padding:0px;"><a href="/News.aspx?Act=Detail&amp;ID=50" style="color:#006225">Thay đổi nội dung đăng ký kinh doanh đối với dự án có vốn đầu tư nước ngoài - FDI</a> (28/8/2015)</li>
      
          <li style="margin-left:10px; padding:0px;"><a href="/News.aspx?Act=Detail&amp;ID=49" style="color:#006225">Khuyến khích nhà đầu tư kê khai trực tuyến</a> (3/8/2015)</li>
      
          <li style="margin-left:10px; padding:0px;"><a href="/News.aspx?Act=Detail&amp;ID=47" style="color:#006225">Áp dụng Luật Đầu tư mới kể từ ngày 01/07/2015</a> (3/7/2015)</li>
      
          <li style="margin-left:10px; padding:0px;"><a href="/News.aspx?Act=Detail&amp;ID=48" style="color:#006225">Áp dụng Luật Doanh nghiệp mới kể từ ngày 01/07/2015</a> (3/7/2015)</li>
      
          <li style="margin-left:10px; padding:0px;"><a href="/News.aspx?Act=Detail&amp;ID=46" style="color:#006225">Kết quả xếp hạng PCI tỉnh Long An năm 2014</a> (18/5/2015)</li>
      
          <li style="margin-left:10px; padding:0px;"><a href="/News.aspx?Act=Detail&amp;ID=45" style="color:#006225">Thủ tướng làm việc với lãnh đạo tỉnh Long An</a> (1/4/2015)</li>
      
          <li style="margin-left:10px; padding:0px;"><a href="/News.aspx?Act=Detail&amp;ID=44" style="color:#006225">Thực hiện Luật xây dựng số 50/2014/QH13</a> (1/4/2015)</li>
      
          <li style="margin-left:10px; padding:0px;"><a href="/News.aspx?Act=Detail&amp;ID=43" style="color:#006225">Ngăn chặn và đề phòng nguy cơ cháy nổ tại các khu công nghiệp trong mùa khô</a> (23/3/2015)</li>
      
        
    </ul>
</div>

	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>