<div class="aboutPage_3">Hệ thống cấp điện</div>
    <div>
        <p><span></span></p>
Điện cấp từ Trạm biến áp Bến Lức 110/22kV.<br>
• Giá điện được tính theo giá của Điện lực Việt Nam (EVN).
<p><span><br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img alt="" src="http://www.pat-ip.com/Images/upload/Editor/TBA.jpg"><br>
</span></p>
    </div>
	
	<script>
	document.onkeydown = function(evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
        isEscape = evt.key == "Escape";
    } else {
        isEscape = evt.keyCode == 27;
    }
    if (isEscape) {
       $('#windowpopup').modal('hide');
    }
};

</script>