<!DOCTYPE html>
<html style="width: 100%; height: 100%;" lang="en_US">
<head @*prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"*@>
    @*<meta http-equiv="content-type" content="text/html; charset=UTF-8">*@
    <script async="" src="~/Template/www-widgetapi.js" id="www-widgetapi-script" type="text/javascript"></script>
    <title>PAT demo</title>
    @*<meta name="keyrds" content="DEAD OR ALIVE 5 Last Round, DOA5LR ,DOA ,KOEITECMO ,TECMO ">
        <meta name="description" content="Experience Dead or Alive 5 on PS4™ and Xbox One!">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">*@
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta http-equiv="Content-Script-Type" content="text/javascript">*@

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--▼meta-->
    @*<meta property="og:title" content="DEAD OR ALIVE 5 Last Round">
    <meta property="og:type" content="activity">
    <meta property="og:description" content="Experience Dead or Alive 5 on PS4 and Xbox One!">
    <meta property="og:url" content="http://teamninja-studio.com/doa5/lastround">

    <meta property="og:site_name" content="DEAD OR ALIVE 5 Last Round">
    <meta property="og:locale" content="en_US">*@
    <style>
        #slider_features li img {
            margin-top: 120px;
        }

        #features_base .flex-control-nav {
            bottom: -20px !important;
        }

        .flexslider {
            border-radius: 4px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) !important;
            margin: 0;
            position: relative;
        }

        #hotnew {
            background-color: #cae8ca;
            border-style: solid;
            border-width: 3px;
            bottom: 0;
            max-width: 300px;
            padding: 5px;
            position: fixed;
            right: 0;
            z-index: 999;
        }

        .right_3_1 {
            float: left;
            padding-right: 5px;
        }

       
    </style>
    <!-- Style -->
    @*<link href="~/Template/shadowbox.css" rel="stylesheet" type="text/css">*@
    <link href="~/Template/default.css" rel="stylesheet" type="text/css">
    <link href="~/Template/common.css" rel="stylesheet" type="text/css">
    <link href="~/Template/top.css" rel="stylesheet" type="text/css">
    <link href="~/Template/flexslider.css" rel="stylesheet" type="text/css">
    <link href="~/Template/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- End Style -->
</head>
<body class="">
    <!-- Script -->
    <script src="~/Template/widgets.js" id="twitter-wjs"></script>
    @*<script src="~/Template/iframe_api"></script>*@
    @*<script src="~/Template/analytics.js" async=""></script>*@
    <script src="~/Template/jquery_005.js"></script>
    <script type="text/javascript" src="~/Template/shadowbox.js"></script>
    <script type="text/javascript" src="~/Template/jquery_002.js"></script>
    @*<script type="text/javascript" src="~/Template/ga.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/scrollAnimate.js"></script>*@
    <script type="text/javascript" src="~/Template/main.js"></script>
    @*<script type="text/javascript" src="~/Template/init.js"></script>*@
    <script type="text/javascript" src="~/Template/top.js"></script>
    <script type="text/javascript" src="~/Template/jquery_003.js"></script>
    @*<script type="text/javascript" src="~/Template/agecheck.js"></script>*@
    <script type="text/javascript" src="~/Template/jquery.js"></script>
    @*<script src="~/Template/xenforo.js"></script>*@
    @*<script type="text/javascript" src="~/Template/jquery.color-2.1.1.js"></script>*@
    @*<script type="text/javascript" src="~/Template/jquery.tubular.1.0.js"></script>*@
    <script src="~/Template/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/aes.js"></script>
    @*<script gapi_processed="true" type="text/javascript" src="~/Template/plusone.js"></script>*@
    @*<link rel="apple-touch-icon" href="http://teamninja-studio.com/doa5/lastround/us/img/common/icon.jpg">*@
    @*<script src="~/Template/timeline.js" async="" charset="utf-8" type="text/javascript"></script>*@
    <!--▼▼loadObjct-->
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide"
            });
        });
        //$(document).ready(function () {
        //    var options = { videoId: 'ix6gnsUvTdU', start: 22, end: 103 };
        //    var listColorSwitch = false;
        //    setInterval(function () {
        //        if (listColorSwitch) {
        //            $("li.new").animate({ "backgroundColor": "#666" }, 800);
        //            listColorSwitch = false;
        //        } else {
        //            $("li.new").animate({ "backgroundColor": "#d90" }, 800);
        //            listColorSwitch = true;
        //        }
        //    }, 1000);
        //});
        //$("#menu_top").click(function () {
        //    $('html, body').animate({
        //        scrollTop: $("#top").offset().top
        //    }, 2000);
        //});
        function topclick() {
            $('html, body').animate({
                scrollTop: $("#top").offset().top
            }, 2000);
        }
        function locationclick() {
            $('html, body').animate({
                scrollTop: $("#industryzone").offset().top
            }, 2000);
        }
        function residentclick()
        {
            $('html, body').animate({
                scrollTop: $("#resident").offset().top
            }, 2000);
        }
        function contructorclick() {
            $('html, body').animate({
                scrollTop: $("#characters").offset().top
            }, 2000);
        }
        function gainclick() {
            $('html, body').animate({
                scrollTop: $("#benefit").offset().top
            }, 2000);
        }
        function libraryclick() {
            $('html, body').animate({
                scrollTop: $("#movies").offset().top
            }, 2000);
        }
        function contactclick() {
            $('html, body').animate({
                scrollTop: $("#contact").offset().top
            }, 2000);
        }
        function scrollTo2(targetName) {
            var $scrollTarget = $(targetName);
            var amount = $scrollTarget.offset().top;
            amount -= 58;
            $('html,body').animate({ scrollTop: amount }, 'swing');
        }
    </script>
    <!--△△loadObjct-->
    <!-- End Script-->

    @*<div id="tubular-container" style="overflow: hidden; position: fixed; z-index: 1; width: 100%; height: 100%"><iframe src="~/Template/ix6gnsUvTdU.htm" title="YouTube video player" allowfullscreen="1" id="tubular-player" style="position: absolute; width: 1349px; height: 759px; left: 0px; top: -76px;" frameborder="0" height="769" width="1366"></iframe></div><div id="tubular-shield" style="width: 100%; height: 100%; z-index: 2; position: absolute; left: 0; top: 0;"></div>*@
    <!------------------------------------->
    <div id="window">
        <div style="position: relative; z-index: 99; display: block;" id="contents">
            <!-- MENU -->
            <div style="opacity: 1; top: 0px;" id="menu">
                <div class="inner">
                    <a href="javascript:scrollTo('#visual','.menu_top','top.html');" class="menu_logo hide_sp"><img src="~/Template/menu_logo.png" alt="DEAD OR ALIVE 5 Last Round"></a>
                    <ul class="hide_sp">
                        <li class="menu_top"><a  class="active" href="#top" onclick="topclick()"></a></li>
                        <li class="menu_features">
                            <a href="#features" onclick="locationclick()"></a>
                            
                        </li>

                        <li class="menu_resident">
                            <a href="#resident" onclick="residentclick()"></a>
                           
                        </li>

                        <li class="menu_characters">
                            <a href="#characters" onclick="scrollTo2('#characters')"></a>
                            <img src="~/Template/newicon.gif" class="icon">
                        </li>
                        <li class="menu_stages"><a href="#benefit" onclick="gainclick()"></a><img src="~/Template/newicon.gif" class="icon"></li>
                        <li class="menu_movies"><a href="#movies" onclick="libraryclick()"></a><img src="~/Template/newicon.gif" class="icon"></li>
                        <li class="menu_contact"><a href="#contact" onclick="contactclick()"></a></li>
                        <li class="menu_langue">
                            <a href="javascript:scrollTo('#features','.menu_features','top.html','top.html#Features');" onclick="openpopup_location_map();">
                                <img src="~/Template/img/common/lang_vn.png" />
                            </a>
                            <a style="float:right;margin-left:2px" href="javascript:scrollTo('#features','.menu_features','top.html','top.html#Features');" onclick="openpopup_location_map();">
                                <img src="~/Template/img/common/lang_jp.png" />
                            </a>
                            <a style="float:right" href="javascript:scrollTo('#features','.menu_features','top.html','top.html#Features');" onclick="openpopup_location_map();">
                                <img src="~/Template/img/common/lang_en.png" />
                            </a>
                        </li>
                        <li id="admin"><a style="cursor:pointer" onclick="adminclick()"></a></li>
                        <li id="login" class="menu_login"><a style="cursor:pointer" onclick="openpopup_login()"></a></li>
                        <li id="logout"><a style="cursor:pointer" onclick="logoutclick()"></a></li>


                    </ul>
                </div>
            </div>
            <!-- END MENU-->
            <!--▼▼visual-->
            <div style="opacity: 1;" id="visual">
                <img src="~/Template/bg.jpg" class="hide_pc">
            </div>
            <!--△△visual-->
            <div id="wrapper">
                <!--▼▼TOP-->
                <div id="top">
                    <!--▼▼logo-->
                    <h1 style="opacity: 1;" class="hide_sp"><img src="~/Template/logo.png" alt="DEAD OR ALIVE 5 Last Round"></h1>
                    <!--△△logo-->
                    <!--▼▼information-->
                    <div id="information">
                        <h3 style="opacity: 1; left: 0px;"><img src="~/Template/information_h.png" alt="Information"></h3>
                        <div style="height: 189px;" class="inner">
                            <ul>
                                <li style="opacity: 1; top: 0px; background-color: rgb(213, 149, 6);" class="new num_0">
                                    <a href="javascript:scrollTo('#visual','.menu_top','top.html');" onclick="openpopup();">
                                        <img src="~/Template/patcompany.jpg"><span class="text">
                                            <span class="inner">
                                                <br>giới thiệu công ty
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li style="opacity: 1; top: 0px; background-color: rgb(213, 149, 6);" class="new num_1">
                                    <a href="javascript:scrollTo('#visual','.menu_top','top.html');" onclick="openpopup_introduce_industry();">
                                        <img src="~/Template/land.jpg"><span class="text">
                                            <span class="inner">
                                                <br>Giới thiệu khu công nghiệp
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li style="opacity: 1; top: 0px;" class="num_2">
                                    <a href="javascript:scrollTo('#visual','.menu_top','top.html');" onclick="openpopup_industry_land();">
                                        <img src="~/Template/patland.jpg"><span class="text">
                                            <span class="inner">
                                                <br>Đất công nghiệp
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div style="height: 189px;" class="inner">
                            <ul>
                                <li style="opacity: 1; top: 0px; background-color: rgb(213, 149, 6);" class="new num_0">
                                    <a href="javascript:scrollTo('#visual','.menu_top','top.html');" onclick="openpopup_introduce_environment();">
                                        <img src="~/Template/environment.jpg"><span class="text">
                                            <span class="inner">
                                                <br>Thân thiện môi trường
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li style="opacity: 0; top: 0px;" class="new num_1">
                                    <a href="javascript:scrollTo('#visual','.menu_top','top.html');" onclick="openpopup_introduce_map();">
                                        <img src="~/Template/map.jpg"><span class="text">
                                            <span class="inner">
                                                <br>Vị trí khu công nghiệp
                                            </span>
                                        </span>
                                    </a>

                                </li>
                                <li style="opacity: 1; top: 0px;" class="num_2">
                                    <a href="javascript:scrollTo('#visual','.menu_top','top.html');" onclick="openpopup_introduce_map();">
                                        <img src="~/Template/map.jpg"><span class="text">
                                            <span class="inner">
                                                <br>Vị trí khu dân cư
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--△△information-->
                    <!--▼▼spec-->
                    <!--△△spec-->
                </div>
                <!--△△TOP-->
                <div class="line"></div>
                <!--▼▼FEATURES resident-->
                <div id="resident">
                    <h2><img style="opacity: 0; left: -100px;" src="~/Template/resident_h.png"></h2>
                    <div class="inner">
                        <ul>
                            <li style="opacity: 1; top: 0px;" class="num_0"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_law();"><img src="~/Template/law.jpg"><span class="text"><span class="inner">NHÀ PHỐ LOẠI I</span></span> @*<img src="~/Template/newicon.gif" class="icon">*@ </a></li>
                            <li style="opacity: 1; top: 0px;" class="num_1"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_pat();"><img src="~/Template/new.jpg"><span class="text"><span class="inner">NHÀ PHỐ LOẠI II</span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>
                            <li style="opacity: 1; top: 0px;" class="num_2"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup();"><img src="~/Template/video.jpg"><span class="text"><span class="inner">NHÀ LIÊN KẾ</span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>
                            <li style="opacity: 1; top: 0px;" class="num_3"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_photo();"><img src="~/Template/photo.jpg"><span class="text"><span class="inner">NHÀ Ở CÔNG NHÂN</span></span> <!--<img src = "img/common/newicon.gif" class ="icon" />--> </a></li>
                            <li style="opacity: 1; top: 0px;" class="num_4"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_question();"><img src="~/Template/question.jpg"><span class="text"><span class="inner">CĂN HỘ CHUNG CƯ</span></span> <!--<img src = "img/common/newicon.gif" class ="icon" />--> </a></li>
                            <li style="opacity: 1; top: 0px;" class="num_4"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_question();"><img src="~/Template/question.jpg"><span class="text"><span class="inner">NHÀ VƯỜN</span></span> <!--<img src = "img/common/newicon.gif" class ="icon" />--> </a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--△△FEATURES-->
                <div class="line"></div>

                <!--▼▼FEATURES resident-->
                <div id="industryzone">
                    <h2><img style="opacity: 0; left: -100px;" src="~/Template/industryzone_h.png"></h2>
                    <div class="inner">
                        <ul>
                            <li style="opacity: 1; top: 0px;" class="num_0"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_law();"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner">NHÀ XƯỞNG</span></span> @*<img src="~/Template/newicon.gif" class="icon">*@ </a></li>
                            <li style="opacity: 1; top: 0px;" class="num_1"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_pat();"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner">ĐẤT CÔNG NGHIỆP</span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>
                           
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--△△FEATURES-->
                <div class="line"></div>

                <!--▼▼CHARACTERS-->
                <div style="height: 1208px;" id="characters">
                    <h2><img style="opacity: 0; left: -100px;" src="~/Template/characters_h.png"></h2>
                    <div style="opacity: 1; display: none;" id="characters_layerTop"></div>
                    <div style="opacity: 1; display: block;" id="characters_base">
                        <div class="inner">
                            <h3><img src="~/Template/characters_h2E.png"></h3>
                            <div class="thumBox">
                                <div class="thumBox_inner">
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t01"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-0.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t01"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-1.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t02"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-2.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t03"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-3.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t04"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-4.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t05"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-5.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t06"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-6.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t07"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-0.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t08"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-1.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t09"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-2.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t10"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-3.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t11"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-4.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t12"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-5.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t13"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-6.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t08"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-0.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t09"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-1.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t10"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-2.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t11"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-3.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t12"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-4.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t13"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-5.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_electricity();" class="thum mo t13"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-6.jpeg"></a>
                                    <h3><img src="~/Template/characters_h2W.png"></h3>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t14"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-0.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t15"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-1.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t16"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-2.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t17"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-3.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t18"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-4.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t19"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-5.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t20"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-6.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t21"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-0.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t22"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-1.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t23"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-2.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t24"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-3.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t25"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-4.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t26"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-5.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t27"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-6.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t28"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-0.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t29"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-1.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t30"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-2.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t31"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-3.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t32"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-4.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t33"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-5.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water();" class="thum mo t34"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-6.jpeg"></a>
                                    <h3><img src="~/Template/characters_h2P.png"></h3>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t14"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-0.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t15"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-1.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t16"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-2.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t17"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-3.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t18"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-4.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t19"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-5.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t20"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-6.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t21"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-0.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t22"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-1.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t23"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-2.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t24"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-3.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t25"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-4.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t26"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-5.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t27"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-6.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t28"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-0.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t29"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-1.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t30"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-2.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t31"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-3.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t32"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-4.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t33"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-5.jpeg"></a>
                                    <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_water_filter();" class="thum mo t34"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-6.jpeg"></a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <a style="opacity: 1;" href="javascript:scrollTo('#characters','.menu_characters','top.html#Characters');" onclick="openpopup_construction_garbage();" class="bnr mo"><img src="~/Template/bnr_cos.jpg"><!--<img src = "img/common/updateicon.gif" class ="icon"/>--></a>
                        </div>
                    </div>
                </div>
                <!--△△CHARACTERS-->
                <div class="line"></div>
                <!--▼▼STAGES-->
                <div id="benefit">
                    <h2><img style="opacity: 0; left: -100px;" src="~/Template/stages_h.png"></h2>
                    <div class="inner">
                        <ul>
                            <li style="opacity: 1; top: 0px;" class="num_0"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_law();"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner">GIÁ THUÊ ĐẤT VÀ CÁC LOẠI PHÍ</span></span> @*<img src="~/Template/newicon.gif" class="icon">*@ </a></li>
                            <li style="opacity: 1; top: 0px;" class="num_1"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_pat();"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner">TIẾT KIỆM CHI PHÍ</span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>

                            <li style="opacity: 1; top: 0px;" class="num_0"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_law();"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner">PHÁT TRIỂN BỀN VỮNG </span></span> @*<img src="~/Template/newicon.gif" class="icon">*@ </a></li>
                            <li style="opacity: 1; top: 0px;" class="num_1"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_pat();"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner">TIẾT KIỆM THỜI GIAN</span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--△△STAGES-->
                <div class="line"></div>
                <!--▼▼MOVIES-->
                <div id="movies">
                    <h2><img style="opacity: 0; left: -100px;" src="~/Template/movies_h.png"></h2>
                    <div class="inner">
                        <ul>
                            <li style="opacity: 1; top: 0px;" class="num_0"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_law();"><img src="~/Template/law.jpg"><span class="text"><span class="inner">PHÁP LUẬT KINH DOANH</span></span> <img src="~/Template/newicon.gif" class="icon"> </a></li>
                            <li style="opacity: 1; top: 0px;" class="num_1"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_pat();"><img src="~/Template/new.jpg"><span class="text"><span class="inner">THÔNG TIN PAT</span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>
                            <li style="opacity: 1; top: 0px;" class="num_2"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup();"><img src="~/Template/video.jpg"><span class="text"><span class="inner">VIDEO</span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>
                            <li style="opacity: 1; top: 0px;" class="num_3"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_photo();"><img src="~/Template/photo.jpg"><span class="text"><span class="inner">HÌNH ẢNH HOẠT ĐỘNG</span></span> <!--<img src = "img/common/newicon.gif" class ="icon" />--> </a></li>
                            <li style="opacity: 1; top: 0px;" class="num_4"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_question();"><img src="~/Template/question.jpg"><span class="text"><span class="inner">HỎI ĐÁP</span></span> <!--<img src = "img/common/newicon.gif" class ="icon" />--> </a></li>
                            <li style="opacity: 1; top: 0px;" class="num_4"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_question();"><img src="~/Template/question.jpg"><span class="text"><span class="inner">TUYỂN DỤNG</span></span> <!--<img src = "img/common/newicon.gif" class ="icon" />--> </a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--△△MOVIES-->
                <div class="line"></div>
                <!--▼▼CONTACT-->
                <div id="contact">
                    <h2><img style="opacity: 0; left: -100px;" src="~/Template/contact_h.png"></h2>
                    <div id="spec">
                        <a href="javascript:scrollTo('#contact','.menu_contact','top.html#Contact');" onclick="openpopup_contact();" class="btn_productInfo right mo">NHẬP THÔNG TIN LIÊN HỆ</a>
                        <span class="clearfix"></span>
                    </div>
                </div>
                <!--△△CONTACT-->
                <div class="line hide_sp"></div>
                <!--▼▼SOCIAL-->
                <div id="social" class="hide_sp">
                </div>
                <div id="social_frontshadow"></div>
            </div>
            <!--△△SOCIAL-->
            <div class="line"></div>
            <!--▼▼FOOTER-->
            <div id="footer">
                <ul id="link_site">
                    <li><a><img src="~/Template/btn_doa5u.png"></a></li>
                    <li class="right"><a><img src="~/Template/btn_doa5p.png"></a></li>
                    <span class="clearfix"></span>
                </ul>
            </div>
            <!--△△FOOTER-->
        </div>
        <div style="border-width:1px ;border-style:solid;border-color:#B0B0B0;position:fixed;padding:5px;right:0;max-width:14%;z-index:999;top:50px">
            <div class="right_3">
                <div class="right_3_1">
                    <img width="66" height="66" src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-1.jpeg" />
                    <span>
                        <p class="date_time_1">31/8/2015</p>
                    </span>
                </div>
                <div class="right_3_2">
                    <span><a href="#" onclick="openpopup_new();">Hiệp định Thương mại Đối tác Xuyên Thái Bình Dương...</a></span>
                    <p class="text_1"></p>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="right_3">
                <div class="right_3_1">
                    <img width="66" height="66" src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-1.jpeg" />
                    <span>
                        <p class="date_time_1">31/8/2015</p>
                    </span>
                </div>
                <div class="right_3_2">
                    <span class="tile_1"><a href="#" onclick="openpopup_new();">Quản lý quy hoạch và xây dựng trong các khu công nghiệp...</a></span>
                    <p class="text_1"></p>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="right_3">
                <div class="right_3_1">
                    <img width="66" height="66" src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-1.jpeg" />
                    <span>
                        <p class="date_time_1">31/8/2015</p>
                    </span>
                </div>
                <div class="right_3_2">
                    <span class="tile_1"><a href="#" onclick="openpopup_new();">UBND tỉnh Long An tiếp tục ủy quyền cho Ban Quản lý Khu kinh tế...</a></span>
                    <p class="text_1"></p>
                </div>
                <div style="clear:both"></div>
            </div>

        </div>
    </div>
    <div style="display: none; height: 607px; width: 1349px; visibility: hidden;" id="sb-container">
        <div style="background-color: rgb(0, 0, 0); opacity: 0;" id="sb-overlay">
        </div>
        <div style="top: 54px; left: 273px; width: 802px; visibility: hidden;" id="sb-wrapper">
            <div id="sb-title">
                <div style="margin-top: 26px;" id="sb-title-inner">
                </div>
            </div>
            <div style="height: 450px;" id="sb-wrapper-inner">
                <div id="sb-body">
                    <div id="sb-body-inner"></div>
                    <div style="display: none;" id="sb-loading">
                        <div id="sb-loading-inner">
                            <span>loading</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sb-info">
                <div style="margin-top: 0px;" id="sb-info-inner">
                    <div id="sb-counter"></div><div id="sb-nav">
                        <a id="sb-nav-close" title="Close" onclick="Shadowbox.close()"></a>
                        <a style="display: none;" id="sb-nav-next" title="Next" onclick="Shadowbox.next()"></a>
                        <a style="display: none;" id="sb-nav-play" title="Play" onclick="Shadowbox.play()"></a>
                        <a style="display: none;" id="sb-nav-pause" title="Pause" onclick="Shadowbox.pause()"></a>
                        <a style="display: none;" id="sb-nav-previous" title="Previous" onclick="Shadowbox.previous()"></a>
                    </div>
                </div>
            </div>
        </div>
    </div><iframe style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: medium none;" allowfullscreen="true" allowtransparency="true" scrolling="no" id="rufous-sandbox" frameborder="0"></iframe>
    <!-- Modal Popup-->
    <div class="modal fade" id="windowpopup" tabindex="-1" role="dialog" aria-labelledby="windowpopup_title"
         aria-hidden="true">
        <div id="windowpopup_size" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="ClosePopup();">
                        &times;
                    </button>
                    <a href='#' onclick="Maximinepopup();" style="float:right;margin-right:15px">
                        <input id="windowpopup_size_hidden_maximine" type="hidden" value="min" />
                        <i class=" popup_maximine glyphicon glyphicon-resize-full"></i>
                    </a>
                    <h4 class="modal-title" id="windowpopup_title"></h4>
                </div>
                <div class="modal-body" id="windowpopup_content">

                    <!--                     <iframe id="modal-body-iframe" width="600px" height="600px"> -->
                    <!--                         </iframe> -->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- login -->
    <div class="modal fade" id="windowpopup_login" tabindex="-1" role="dialog" aria-labelledby="windowpopup_title"
         aria-hidden="true">
        <div id="windowpopup_login_size" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="ClosePopup();">
                        &times;
                    </button>
                    <h4 class="modal-title" id="windowpopup_login_title"></h4>
                </div>
                <div class="modal-body" id="windowpopup_login_content">
                    @*begin content*@
                    <div class="login-box-body">

                        <h4>Vui lòng đăng nhập</h4>

                        <div class="form-group has-feedback">
                            <input id="loginformpopup_txtusername" class="form-control" maxlength="40" placeholder="Tên đăng nhập">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input id="loginformpopup_txtpassword" class="form-control" type="password" maxlength="100" placeholder="Mật khẩu">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button id="loginformpopup_btnlogin" class="btn btn-primary btn-block btn-flat" onclick="loginpopup_click();">Đăng nhập</button>
                            </div>
                        </div>

                    </div>
                    @*end content*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <script>
        var checkparameterURL = function (url) {
            if (url.indexOf("?") > 0) {
                return true;
            }
            return false;
        }
        var loadpopup = function (url, title, width, isblank) {
            var _para = '';
            if (checkparameterURL(url) == true) {
                _para = '&_isbl=' + isblank;
            }
            else {
                _para = '?_isbl=' + isblank;
            }
            //    alert(url);
            url = url + _para;
            if (isblank == false) {

                var _process = '<div class="progress">'
                 + '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%">'
                   + '<span class="sr-only">Vui lòng chờ trong giây lát</span>'
                 + '</div>'
                 + '</div>';
                $('#windowpopup_content').html(_process);
                $('#windowpopup_title').html(title);
                $('#windowpopup_content').load(url);
                //$('modal-body-iframe').attr("src", url);
                // $('#windowpopup').modal();
                $('#windowpopup').modal({
                    backdrop: 'static',
                    keyboard: false
                })
                if (width != "none") {
                    $('#windowpopup_size').css(
                        {
                            width: function () {
                                if (width == "") {
                                    return "80%";
                                }
                                else {
                                    return width;
                                }
                            }
                        });
                }
            }
            else {
                var w = 630, h = 440; // default sizes
                if (window.screen) {
                    w = window.screen.availWidth * 85 / 100;
                    h = window.screen.availHeight * 85 / 100;
                }
                //  javascript: OpenWindow(url, title, "channelmode=1,scrollbars=1,status=0,titlebar=0,toolbar=0,resizable=1,menubar=no,resizable=1,top=20,left=20,fullscreen=yes,location=yes,Width=" + w + ",height=" + h + "");

                //  var randomnumber = Math.floor((Math.random() * 100) + 1);
                //  window.open(url, "_blank", title,  "channelmode = 1, scrollbars = 1, status = 0, titlebar = 0, toolbar = 0, resizable = 1, menubar = no, resizable = 1, top = 20, left = 20, fullscreen = yes, location = yes, Width = " + w + ", height = " + h + "");
                //  window.open(url, title, "channelmode=1,scrollbars=1,status=0,titlebar=0,toolbar=0,resizable=1,menubar=no,resizable=1,top=20,left=20,fullscreen=yes,location=yes,Width=" + w + ",height=" + h + "");
                //javascript: OpenWindow(url, title, "channelmode=1,scrollbars=1,status=0,titlebar=0,toolbar=0,resizable=1,menubar=no,resizable=1,top=20,left=20,fullscreen=yes,location=yes,Width=" + w + ",height=" + h + "");
                var d = new Date();
                var n = d.getTime();
                title = title + n;
                var _window = window.open(url, title, "channelmode=1,scrollbars=1,status=0,titlebar=0,toolbar=0,resizable=1,menubar=no,resizable=1,top=20,left=20,fullscreen=yes,location=yes,Width=" + w + ",height=" + h + "");
                _window.focus();
            }
        }

        function openpopup() {
            loadpopup('~/Template/introduce.html', 'Giới thiệu công ty', '80%', false);
        }
        function openpopup_introduce_industry() {
            loadpopup('~/Template/introduce_industry.html', 'Giới thiệu khu công nghiệp', '80%', false);
        }
        function openpopup_industry_land() {
            loadpopup('~/Template/introduce_industry_land.html', 'Đất công nghiệp', '80%', false);
        }
        function openpopup_introduce_environment() {
            loadpopup('~/Template/introduce_environment.html', 'Thân thiên môi trường', '80%', false);
        }
        function openpopup_introduce_map() {
            loadpopup('~/Template/introduce_map.html', 'Bản đồ', '80%', false);
        }

        function openpopup_location_map() {
            loadpopup('~/Template/introduce_map.html', 'Vị trí khu công nghiệp', '80%', false);
        }

        function openpopup_location_totalmap() {
            loadpopup('~/Template/location_totalmap.html', 'Bản đồ tổng thể', '80%', false);
        }

        function openpopup_construction_electricity() {
            loadpopup('~/Template/construction_electricity.html', 'Hệ thống cấp điện', '80%', false);
        }
        function openpopup_construction_water() {
            loadpopup('~/Template/construction_water.html', 'Hệ thống cung cấp nước sạch', '80%', false);
        }
        function openpopup_construction_water_filter() {
            loadpopup('~/Template/construction_water_filter.html', 'Hệ thống xử lý nước thải', '80%', false);
        }
        function openpopup_construction_garbage() {
            loadpopup('~/Template/construction_garbage.html', 'Thu gom và xử lý chất thải', '80%', false);
        }

        function openpopup_benefit_land() {
            loadpopup('~/Template/benefit_land.html', 'Giá thuê đất và các loại chi phí', '80%', false);
        }

        function openpopup_benefit_saving() {
            loadpopup('~/Template/benefit_saving.html', 'Tiết kiệm chi phí', '80%', false);
        }
        function openpopup_benefit_develop() {
            loadpopup('~/Template/benefit_develop.html', 'Phát triển bền vững', '80%', false);
        }

        function openpopup_benefit_savethetime() {
            loadpopup('~/Template/benefit_savethetime.html', 'Tiết kiệm thời gian', '80%', false);
        }
        function openpopup_contact() {
            loadpopup('~/Template/contact.html', 'Liên hệ', '80%', false);
        }
        function openpopup_library_law() {
            loadpopup('~/Template/library_law.html', 'Pháp luật kinh doanh', '80%', false);
        }

        function openpopup_library_pat() {
            loadpopup('~/Template/library_pat.html', 'thông tin PAT', '80%', false);
        }

        function openpopup_library_photo() {
            loadpopup('~/Template/library_photo.html', 'Hình ảnh', '80%', false);
        }

        function openpopup_library_question() {
            loadpopup('~/Template/library_question.html', 'Hỏi đáp', '80%', false);
        }

        function openpopup_new() {
            loadpopup('~/Template/new.html', 'Tin tức', '80%', false);
        }

        function openpopup_login() {
            $('#windowpopup_login').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        function loginpopup_click()
        {
           

            var password = $("#loginformpopup_txtpassword").val();
            var key = CryptoJS.enc.Utf8.parse('8080808080808080');
            var iv = CryptoJS.enc.Utf8.parse('8080808080808080');

            var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(password), key,
            {
                keySize: 128 / 8,
                iv: iv,
                mode: CryptoJS.mode.CBC,
                padding: CryptoJS.pad.Pkcs7
            }).toString();

            $.ajax({
                url: "/Account/Login",
                type: "Post",
                data: JSON.stringify({
                    Username: $("#loginformpopup_txtusername").val(),
                    Pass: encryptedpassword
                }),
                // data:postData,
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    $('#login').removeClass('menu_login');
                    $('#logout').addClass('menu_logout');
                    $('#admin').addClass('menu_admin');
                    $('#windowpopup_login').modal('hide');
                    // window.location.href = "/Home/Admin";
                   
                },
                Error: function () {
                    //alert("Không thể kết nối tới máy chủ");
                    show(false, "Không thể kết nối tới máy chủ", true);
                }
            });
        }

        function adminclick()
        {
            window.location.href = "/Home/Admin";
        }

        function logoutclick()
        {
            $('#login').addClass('menu_login');
            $('#logout').removeClass('menu_logout');
            $('#admin').removeClass('menu_admin');
        }

        $(document).ready(function () {
            //alert('@Session["UserName"]');
        });
    </script>
    @RenderBody()


</body>
</html>