@model ManageShop.Models.MenuModel

@foreach (var item in Model.MenuItems)
{
    
     <li class="active treeview">
                        <a href='@item.URL '>
                            <i class="@item.AWE">
                            </i> <span>@item.MenuName</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                       
                    </li>
    
    
   

}

